* {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10px;
  box-sizing: border-box;
}

body {
  padding: 0 20rem;
}

h1 {
  font-size: 3.2rem;
  font-family: 'Roboto Slab', serif;
}

h2 {
  font-size: 2.8rem;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin: 0;
}

p,
li,
a {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

#main-title {
  border-bottom: 1px solid black;
}

#colors,
#fonts,
#font-styles {
  padding: 1rem;
  border: 1px dashed lightslategray;
}

/* Colors */

#colors-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.color-box {
  padding: 1rem 4rem;
  border-radius: 2rem;
  text-align: center;
}

#purple {
  background-color: #693c72;
  color: white;
}

#red {
  background-color: #c15050;
  color: white;
}

#orange {
  background-color: #d97642;
  color: white;
}

#white {
  background-color: #f9f3f3;
}

/* Fonts */

#fonts {
  margin: 2rem 0;
}

#fonts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.bold {
  font-weight: bold;
}

.underlined {
  text-decoration: underline;
}

.font-box p,
.font-box h3 {
  font-family: inherit;
}

.font-box h3 {
  margin-bottom: 2rem;
  font-weight: normal;
}

/* Font-styles */
#font-styles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.font-style h1,
.font-style h2,
.font-style h3,
.font-style p {
  margin: 0;
  align-self: flex-end;
}

.font-style {
  display: grid;
}

@media (max-width: 1600px) {
  #font-styles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1300px) {
  body {
    padding: 0 5rem;
  }

  #colors-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #fonts-container {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 750px) {
  body {
    padding: 0 3rem;
  }

  #colors-container,
  #font-styles-container {
    grid-template-columns: 1fr;
  }
}
